.container {
    display: inline-block;
    width: 60%;
    height: 10%;
    margin-top: 2em;
}

.graph {
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}