.container {
    /* text-align: center; */
    display: inline-block;
    margin-top: 2em;
    width: 60%;
    height: 20%;
}

.graph {
    text-align: center;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}